---
layout: default
title: Contact
---

<div class="container contact inner">
    <div class="row">
        <div class="col-md-8">
            <h2>Email Us</h2>
            <p>Send us an email and we'll get back to you.</p>
            <form id="contact-form" method="post" target="https://func.bitwarden.com/api/newhelpdeskticket">
                <div class="alert alert-success" id="email-success" style="display: none;">
                    Your message has been sent. We'll get back to you soon.
                </div>
                <div class="alert alert-danger" id="email-error" style="display: none;">
                    An error occurred when trying to send your email. Try again.
                </div>
                <div class="form-group">
                    <label for="name" class="sr-only">Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Name" required>
                </div>
                <div class="form-group">
                    <label for="email" class="sr-only">Email Address</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email Address"
                        required>
                </div>
                <div class="form-group">
                    <label for="subject" class="sr-only">Subject</label>
                    <select id="subject" name="subject" class="form-control" required>
                        <option value="">--Subject--</option>
                        <option value="Technical Support">Technical Support</option>
                        <option value="Billing Support">Billing Support</option>
                        <option value="Product/Sales/Pricing Question">Product/Sales/Pricing Question</option>
                        <option value="Disabled Subscription or Organization">Disabled Subscription/Organization</option>
                        <option value="Organization Demo or Trial">Organization Demo or Trial</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="message" class="sr-only">Message</label>
                    <textarea rows="12" id="message" name="message" class="form-control" placeholder="Message..."
                        required></textarea>
                </div>
                <p>
                    <button type="submit" class="btn btn-lg btn-primary">
                        <i class="fa fa-refresh fa-spin" style="display: none;"></i>
                        Send Email
                    </button>
                </p>
            </form>
        </div>
        <div class="col-md-4">
            <hr class="visible-xs visible-sm" />
            <h2>Direct</h2>
            <p>You can also email us directly.</p>
            <p>
                <a href="mailto:hello@bitwarden.com">
                    <i class="fa fa-envelope fa-fw"></i>
                    hello@bitwarden.com
                </a>
            </p>
            <h2>Help Center</h2>
            <p>Check out our help center for documentation and a list of frequently asked questions.</p>
            <p>
                <a href="https://help.bitwarden.com">
                    <i class="fa fa-info-circle fa-fw"></i>
                    Visit Help Center
                </a>
            </p>
            <h2>Forums</h2>
            <p>Visit the community forums to discuss product features with other users and product developers.</p>
            <p>
                <a href="https://community.bitwarden.com">
                    <i class="fa fa-commenting fa-fw"></i>
                    Visit Community Forums
                </a>
            </p>
            <h2>Social Media</h2>
            <p>If you prefer, you can find us on social media too!</p>
            <ul class="list-inline">
                <li>
                    <a href="https://twitter.com/bitwarden" title="Twitter" onclick="gaEvent('Contact Twitter')"
                        target="_blank" rel="noopener">
                        <i class="fa fa-2x fa-twitter"></i><span class="sr-only">Twitter</span>
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/bitwarden/" title="Facebook" onclick="gaEvent('Contact Facebook')"
                        target="_blank" rel="noopener">
                        <i class="fa fa-2x fa-facebook-square"></i><span class="sr-only">Facebook</span>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/bitwarden" title="GitHub" onclick="gaEvent('Contact GitHub')"
                        target="_blank" rel="noopener">
                        <i class="fa fa-2x fa-github"></i><span class="sr-only">GitHub</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>