---
layout: default
title: Browser Extension Getting Started
---


<div class="container inner">
    <h2>Browser Extension Installed!</h2>
    <p>
        Congrats! You just installed the Bitwarden browser extension. You can watch the short video below to
        learn how to easily get started using Bitwarden in your browser. If you have any questions or need
        any further help getting started, feel free to <a href="/contact">contact us</a>.
    </p>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe
            src="https://www.youtube.com/embed/dBPfr7Jiddw?hd=1&amp;vq=hd720&amp;quality=high&amp;version=3&amp;enablejsapi=1&amp;rel=0"
            frameborder="0" allowfullscreen id="browser-video"></iframe>
    </div>
</div>

<script>
    var tag = document.createElement('script');
    tag.src = 'https://www.youtube.com/iframe_api';
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    var player;
    function onYouTubeIframeAPIReady(event) {
        player = new YT.Player('browser-video', {
            events: {
                'onReady': onPlayerReady,
                'onStateChange': onPlayerStateChange
            }
        });
    }

    var pauseFlag = false;
    function onPlayerReady(event) {
        // do nothing
    }

    function onPlayerStateChange(event) {
        // user clicks to Play
        if (event.data == YT.PlayerState.PLAYING) {
            gaEvent('Play', 'Browser Walkthrough', 'Videos');
            pauseFlag = true;
        }
        // user clicks to Pause
        if (event.data == YT.PlayerState.PAUSED && pauseFlag) {
            gaEvent('Pause', 'Browser Walkthrough', 'Videos');
            pauseFlag = false;
        }
        // video ends
        if (event.data == YT.PlayerState.ENDED) {
            gaEvent('Ended', 'Browser Walkthrough', 'Videos');
        }
    }
</script>