---
layout: default
title: Credits
---

<div class="container inner">
    <h2>Image Assets</h2>
    <p>
        Organization Web of People,
        <a href="https://www.freepik.com/free-photos-vectors/infographic" target="_blank" rel="noopener">
            Infographic vector created by Freepik
        </a>
    </p>
    <p>
        Cloud Devices,
        <a href="https://www.vecteezy.com" target="_blank" rel="noopener">
            Illustration credit: Vecteezy
        </a>
    </p>
    <p>
        Vault,
        <a href="https://www.freepik.com/free-vector/strongbox-icons-collection_948380.htm" target="_blank"
            rel="noopener">
            Designed by Freepik
        </a>
    </p>
    <p>
        Windows and Linux icons,
        <a href="https://icons8.com" target="_blank" rel="noopener">
            icons8.com
        </a>
    </p>
</div>