﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="google-site-verification" content="Vi91wXbx1HizvJkekJHNKAD-by5OqaNj6A3cT1Qkzt0">
    <meta name="apple-itunes-app" content="app-id=1137397744">
    <meta name="theme-color" content="#ffffff">
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    {% if page.noindex %}<meta name="robots" content="noindex,nofollow" />{% endif %}

    <title>{% if page.title %}{{ page.title }} | {% endif %}Bitwarden</title>

    <link rel="stylesheet" crossorigin="anonymous"
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0= sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,300italic,400italic,600italic"
        rel="stylesheet" type="text/css">

    <link href="/css/styles.min.css?v={{'now' | date: "%s"}}" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="180x180" href="/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/icons/favicon-16x16.png">
    <link rel="mask-icon" href="/images/icons/safari-pinned-tab.svg" color="#3c8dbc">
    <link rel="manifest" href="/manifest.json">
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/" onclick="gaEvent('Nav Logo')">
                    <i class="fa fa-shield"></i>
                    <span class="visible-xs-inline"><strong>bit</strong>warden</span>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="menu">
                <ul class="nav navbar-nav">
                    <li class="visible-xs"><a href="/">Home</a></li>
                    <li><a href="/#organizations" onclick="gaEvent('Nav Org')">Business</a></li>
                    <li><a href="/#download" onclick="gaEvent('Nav Download')">Download</a></li>
                    <li><a href="https://help.bitwarden.com" onclick="gaEvent('Nav Help')">Help/FAQs</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="https://vault.bitwarden.com/#/register" class="hidden-sm"
                            onclick="gaEvent('Nav Create Account')"><b>Create Account</b></a>
                    </li>
                    <li>
                        <a href="https://vault.bitwarden.com/#/register" class="visible-sm"
                            onclick="gaEvent('Nav Register')"><b>Register</b></a>
                    </li>
                    <li>
                        <a href="https://vault.bitwarden.com/#/" onclick="gaEvent('Nav Log In')">
                            Log In
                            <i class="fa fa-sign-in"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {{content}}

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-xs-6">
                    <h4>Links</h4>
                    <ul class="list-unstyled">
                        <li><a href="/">Home</a></li>
                        <li><a href="/#download" onclick="gaEvent('Footer Download')">Download</a></li>
                        <li><a href="/#organizations" onclick="gaEvent('Footer Business')">Business</a></li>
                        <li><a href="/contact">Contact Us</a></li>
                        <li><a href="/credits">Credits</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-xs-6">
                    <h4 class="invisible">&nbsp;</h4>
                    <ul class="list-unstyled">
                        <li><a href="https://blog.bitwarden.com" onclick="gaEvent('Footer Blog')">Blog</a></li>
                        <li>
                            <a href="https://community.bitwarden.com" target="_blank" rel="noopener"
                                onclick="gaEvent('Footer Forums')">
                                Community Forums
                            </a>
                        </li>
                        <li><a href="https://help.bitwarden.com" onclick="gaEvent('Footer Help')">Help/Support</a></li>
                        <li><a href="/terms">Terms of Service</a></li>
                        <li><a href="/privacy">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-xs-12 social">
                    <h4>Follow Us</h4>
                    <ul class="list-inline">
                        <li>
                            <a href="https://twitter.com/bitwarden" title="Twitter" onclick="gaEvent('Follow Twitter')"
                                target="_blank" rel="noopener">
                                <i class="fa fa-twitter"></i><span class="sr-only">Twitter</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/bitwarden/" title="Facebook"
                                onclick="gaEvent('Follow Facebook')" target="_blank" rel="noopener">
                                <i class="fa fa-facebook-square"></i><span class="sr-only">Facebook</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/bitwarden" title="GitHub" onclick="gaEvent('Follow GitHub')"
                                target="_blank" rel="noopener">
                                <i class="fa fa-github"></i><span class="sr-only">GitHub</span>
                            </a>
                        </li>
                    </ul>
                    &copy; 2015 - {{ 'now' | date: "%Y" }}, <br class="visible-sm" />8bit Solutions LLC
                </div>
            </div>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" crossorigin="anonymous"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo= sha384-vk5WoKIaW/vJyUAd9n/wmopsmNhiy+L2Z+SBxGYnUkunIxVxAv/UtMOhba/xskxh sha512-bnIvzh6FU75ZKxp0GXLH9bewza/OIw6dLVh9ICg0gogclmYGguQJWl8U30WpbsGTqbIiAwxTsbe76DErLq5EDQ=="></script>
    <script>(window.jQuery || document.write('<script src="lib\/jquery\/jquery.min.js?v={{"now" | date: "%s"}}"><\/script>'));</script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" crossorigin="anonymous"
        integrity="sha256-nuL8/2cJ5NDSSwnKD8VqreErSWHtnEP9E7AySL+1ev4= sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd sha512-oBTprMeNEKCnqfuqKd6sbvFzmFQtlXS3e0C/RGFV0hD6QzhHV+ODfaQbAlmY6/q0ubbwlAM/nCJjkrgA3waLzg=="></script>
    <script>((window.jQuery && window.jQuery.fn && window.jQuery.fn.modal) || document.write('<script src="lib\/bootstrap\/js\/bootstrap.min.js?v={{"now" | date: "%s"}}"><\/script>'));</script>

    <script src="/js/bit.min.js?v={{'now' | date: "%s"}}"></script>
</body>

</html>